.moviecard {
  width: 200px;
  margin: 0.25em 0.5em;
  cursor: pointer;
  border: 1px solid #cfd9de;
  border-radius: 2%;
  box-shadow: 0 4px 12px 4px #cfd9de;
  transition: 0.3s;
}

.moviecard__poster {
  width: 200px;
  height: auto;
}

.poster__img {
  width: 100%;
  aspect-ratio: 3/4;
  object-fit: fill;
  object-position: bottom;
}

.moviecard__title {
  font-weight: 600;
  font-size: 1.1rem;
  margin: 0;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 2%;
  color: #1da1f2;
}

.moviecard__rating {
  display: flex;
  align-items: center;
}

.moviecard__content {
  font-size: 0.8rem;
  margin: 0;
  font-weight: 500;
  padding: 0 2%;
}

.moviecard__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
}

.moviecard__block {
  background-color: black;
  padding: 4px 4px;
  background-color: white;
  font-weight: 700;
  font-size: 0.9rem;
  text-align: center;
  border: 1.5px solid black;
}

.moviecard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(0.95);
  transform: translate(4px, 4px);
}
