.movielist {
  display: flex;
  overflow-x: scroll;
  padding: 0 2vw;
}
.movielist__title {
  color: #1da1f2;
  font-size: 1.5rem;
  padding: 0 2vw;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}
